# ignore direnv artifacts
/.envrc

# ignore build harness
*build-harness

# ignore account artifacts
/accounts/

# ignore generation artifacts
/artifacts/

# ignore generated account repos
/repos/

# ignore terraform artifacts
.terraform
*.tfstate
*.tfstate.backup
